{% comment %}
================================================
// Get the Bible reading schedule from Chinese page
// Generate the Bible links here on top of daily reading guide
================================================
{% endcomment %}

{% assign schedulePage = site.pages | where: "layout", "schedule" %}
{% assign index = page.weekNum | times:7 %}
{% assign index = index | minus:7 | plus: page.dayNum %}
{% assign dailySchedule = schedulePage.plan.days[index] %}
dailySchedule.verse[0].titleCh
dailySchedule.verse[1].titleEn

{% assign tempResult = site.posts | where: "categories", "daily" %}
{% assign tempResult = tempResult | where_exp: "item", "item.language != 'English'" %}
{% assign tempResult = tempResult | where: "weekNum", page.weekNum %}
{% assign chDailyPage = tempResult | where: "dayNum", page.dayNum | first %}

{% if chDailyPage %}
  {% assign page.bibleGatewayRef1 = chDailyPage.bibleGatewayRef1 %}
  {% assign page.youVersionRef1 = chDailyPage.youVersionRef1 %}
  {% assign page.bibleGatewayRef2 = chDailyPage.bibleGatewayRef2 %}
  {% assign page.youVersionRef2 = chDailyPage.youVersionRef2 %}

  {% assign verse1 = page.bibleTitle1 %}
  {% assign bgV1 = chDailyPage.bibleGatewayRef1 %}
  {% assign yvV1 = chDailyPage.youVersionRef1 %}
  {% assign verse2 = page.bibleTitle2 %}
  {% assign bgV2 = chDailyPage.bibleGatewayRef2 %}
  {% assign yvV2 = chDailyPage.youVersionRef2 %}
 
  {% assign bgLink1 = "https://www.biblegateway.com/passage/?search=" | append:bgV1 | append: "&version=NIV" %}
  {% assign yvLink1 = "https://www.bible.com/zh-TW/bible/111/" | append:yvV1 | append: ".NIV" %} 
  
  {% assign bgLink2 = "https://www.biblegateway.com/passage/?search=" | append:bgV2 | append: "&version=NIV" %}
  {% assign yvLink2 = "https://www.bible.com/zh-TW/bible/111/" | append:yvV2 | append: ".NIV" %}

{% endif %}

<h3>Scripture Reading</h3>
<ul>
  {% if verse1.size > 0 %}
    <li><a href="{{ bgLink1 }}">{{ verse1 }}</a> | <a href="{{ yvLink1 }}">[YouVersion]</a></li>
  {% endif %}
  <li><a href="{{ bgLink2 }}">{{ verse2 }}</a> | <a href="{{ yvLink2 }}">[YouVersion]</a></li>
</ul>
